doctype html
html
    head

    body
        div
            block content
                div
                    | Best regards,
                    br
                    |Node team
                    a(href='google.com') our website
